$orange: #ECA539
$red: #C00E20
$ligth-red: #F22539
$black: #353535
$light-black: #5E5E5E
$gray: #BFBFBF
$light-gray: #E8E8E8
$white: #FFFFFF
$white-1: #F5F5F5
$white-2: #F9F9F9


$radius: 60px

$font: "Lato"
$font-alt: "Monserrat"
$font-18: 1.125rem
$font-22: 1.375rem


$per-100: 100%
