@import "src/styles/variables.sass"

$line-height-26: 1.625rem
$button-margin: 8px 10px
$list-item-height: 60px


.list-container
  display: inline-flex
  flex-direction: column
  width: $per-100
  gap: 10px

  .message-container
    display: flex
    flex-direction: column
    gap: 10px
    padding-bottom: 25px

    .title
      font-style: normal
      font-weight: bold
      font-size: $font-36
      line-height: 2.688rem
      color: $black

    .description
      font-style: normal
      font-weight: 500
      font-size: $font-20
      line-height: 150%
      color: $light-black


  .list-item
    width: $per-100
    height: $list-item-height
    background: $white
    border-radius: $bradius
    cursor: pointer

    .item-desc
      float: left
      padding-left: 20px
      height: $per-100
      display: flex
      align-items: center

      .name-text
        display: flex
        align-items: center
        text-transform: capitalize
        font-style: normal
        font-weight: 500
        font-size: $font-22
        line-height: $line-height-26


    .item-button
      margin: $button-margin
      float: right


.slide-up-enter-active,
.slide-up-leave-active
  transition: all 0.25s ease-out


.slide-up-enter-from
  opacity: 0
  transform: translateY(30px)


.slide-up-leave-to
  opacity: 0
  transform: translateY(-30px)

